configs/
config/
data/
logs/
plugins/
venv/
map.html
configs/.env

.env

code/data_processing/
code/data_retrieval/
code/map/
code/utils/
code/airflow_dock/data/
code/airflow_dock/dags/
code/airflow_dock/logs/
code/airflow_dock/plugins/
code/airflow_dock/venv/
code/information_extraction/