google 
requests 
pandas
geopandas
shapely
sqlalchemy
bs4
openai
PyMuPDF
python-dotenv
sodapy
tqdm
selenium
webdriver-manager
lxml
beautifulsoup4
pinecone
langchain
streamlit
ollama
youtube-transcript-api
langchain-openai
langchain-pinecone
langchain-core